---
import Button from "../components/Button.astro";
import AppleIcon from "../components/icons/Apple.astro";
import GoogleIcon from "../components/icons/Google.astro";
import OutlookIcon from "../components/icons/Outlook.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

import { Calendar } from '@lucide/astro';

const apple = `webcal://calendar.hltv.events/events.ics`;
const google = `https://www.google.com/calendar/render?cid=webcal://url=webcal%3A%2F%2Fcalendar.hltv.events%2Fevents.ics`;
const outlook = `https://outlook.live.com/calendar/0/addcalendar?url=https%3A%2F%2Fcalendar.hltv.events%2Fevents.ics`;

const { site } = Astro;

const getIcon = (iconName: string, props = {}) => {
  switch (iconName) {
    case "apple": return { component: AppleIcon, props: { class: "-mt-0.5", ...props } };
    case "google": return { component: GoogleIcon, props };
    case "outlook": return { component: OutlookIcon, props };
    case "calendar": return { component: Calendar, props: { "stroke-width": 3, ...props }};
  }
}

const links = [
  {
    title: "Kalendarz Apple",
    icon: "apple",
    iconClass: "-mt-0.5",
    href: `webcal://${site}schedule.ics`,
  },
  {
    title: "Kalendarz Google",
    href: `webcal://${site}schedule.ics`,
    icon: "google",
  },
  {
    title: "Kalendarz Outlook",
    href: `webcal://${site}schedule.ics`,
    icon: "outlook",
  },
  {
    title: "Link do pliku .ics",
    href: `${site}schedule.ics`,
    icon: "calendar",
  },
]
---

<Layout>

  <header class="flex flex-col gap-2">
    <h1 class="tracking-[-0.0375em] text-pretty text-neutral-900 max-w-4xl text-2xl sm:text-4xl/[1.2] md:text-5xl/[1.2] font-semibold">
      Harmonogram odbioru odpadów na terenie gminy Boguty-Pianki, prosto w Twoim kalendarzu.
    </h1>

    <p class="text-gray-700 text-pretty text-lg/7 sm:text-xl/8 font-medium">
      Nigdy więcej nie przegap dnia odbioru śmieci. Zsynchronizuj harmonogram z kalendarzem i otrzymuj powiadomienia w twoim telefonie.
    </p>
  </header>

  <section class="bg-gray-50/50 rounded-xl p-6 w-full border border-gray-200 flex flex-col lg:flex-row gap-6">
    <nav class="flex flex-col gap-3 flex-1 w-full lg:w-auto">
      <h2 class="text-lg text-gray-800">Aby dodać harmonogram do kalendarza, wciśnij guzior.</h2>

      {links.map((link) => {
        const iconData = getIcon(link.icon);
        if (iconData) {
          const { component: Icon, props } = iconData;
          console.log(link.href);
          return (
            <Button href={link.href} size="fat" variant="outline">
              <Icon {...props} />
              {link.title}
            </Button>
          );
        }
      })}
    </nav>

    <aside class="w-[20rem] shrink mx-auto lg:mx-0">
      tutaj obrazek
    </aside>
  </section>

  <footer class="text-gray-500 text-xs w-full">
    <p class="flex flex-col gap-1">
      <span>
        Harmonogram został pobrany ze <Link href="https://boguty-pianki.pl" target="_blank" rel="noopener noreferrer">strony internetowej Urzędu Gminy Boguty-Pianki.</Link>
      </span>
      <span>Autor projektu: <Link href="https://zochow.ski" target="_blank" rel="noopener noreferrer">zochow.ski</Link></span>
    </p>
  </footer>
</Layout>
