---
const { title = "Harmonogram odbioru odpadów na terenie gminy Boguty-Pianki", ...props } = Astro.props;

const description = "Zsynchronizuj harmonogram odbioru odpadów z kalendarzem i otrzymuj powiadomienia w telefonie. Obsługa Apple Calendar, Google Calendar i Outlook."

const jsonLd = {
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebApplication",
      "url": "https://odpady.zochow.ski/",
      "name": "Harmonogram Odbioru Odpadów na terenie gminy Boguty-Pianki",
      "description": "Zsynchronizuj harmonogram odbioru odpadów z kalendarzem i otrzymuj powiadomienia w telefonie. Obsługa Apple Calendar, Google Calendar i Outlook.",
      "inLanguage": "pl-PL",
      "featureList":[
        "synchronizacja harmonogramu odbioru odpadów z kalendarzem",
        "integracja z Kalendarzem Apple",
        "integracja z Kalendarzem Google",
        "integracja z Kalendarzem Outlook",
        "pobranie pliku ICS"
      ],
      "publisher": {
        "@id": "https://odpady.zochow.ski/#author"
      },
      "accountablePerson": {
        "@id": "https://odpady.zochow.ski/#author"
      }
    },
    {
      "@type":"Person",
      "@id": "https://odpady.zochow.ski/#author",
      "name":"Mateusz Żochowski",
      "email":"mateusz@zochow.ski",
      "sameAs": [
        "https://zochow.ski",
        "https://github.com/mateossh"
      ]
    }
  ]
}
---
<link rel="sitemap" href="/sitemap-index.xml" />
<title>{title}</title>
<meta name="description" content={description} />
<meta name="author" content="Mateusz Żochowski" />
<meta name="publisher" content="Mateusz Żochowski" />

<!-- Web analytics -->
<script
  defer
  data-website-id="0c575de9-f36d-457b-99e3-25db16ead1aa"
  src="https://q.zochow.ski/script.js"></script>

<!-- Open Graph tags -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={Astro.url} />
<meta property="og:site_name" content={Astro.url} />
<meta property="og:locale" content="pl_PL" />
<meta property="og:type" content="website" />
<meta property="og:image" content="og.png" />

<!-- Twitter tags -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:creator" content="@mateossh" />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<script
  type="application/ld+json"
  is:inline
  is:raw
  set:html={JSON.stringify(jsonLd, null, 2)}
/>
